*{
    font-family: "Bebas Neue", sans-serif;
    margin: 0%;
    

}
.navbar-brand{
    font-family: "Luckiest Guy", cursive;
    color: white;
    font-size: 25px;
}
.navbar-brand:hover{
    color: white;
}
#navbarNav{
    padding-right: 150px;
}
.nav-link:hover{
    color: orange;
    
}
.nav-item{
    margin-left: 20px;
}
.navbar-nav{
   margin-left: 30%;
    font-size: 20px;
} 
.resume {
   
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(218, 145, 9);
    margin-right: -25%;
    margin-left: 40%;  
}
.resume:hover{
    background-color: rgb(102, 102, 9);
    
}
.resumetext{
    text-decoration: none;
    color: white;
}
.resumetext:hover{
    color: black;
}
.img{
    display: flex;
    align-items: center;
    margin-left: 30%;
    margin-top: -8.5%;
}
#imgtext{
    color:white;
   -webkit-text-stroke: 1px black;
    
    margin-top: -53.5%;
    margin-left: 34%;
    font-size: 65px;
    font-family: "Luckiest Guy", cursive;
  
}
.bg{
    background: linear-gradient(to bottom right, black, orangered   );
    position: relative;
    width: 100vw;
    height: 100vh;
}
#about{
    background-color: rgb(22,22,22);
    width: 100vw;
    padding-bottom: 4%;
}
#abttxt{
    color: white;
    margin-left: 40%;
    padding-top: 10%;
    
}
#skilltxt{
    color: white;
    margin-left: 40%;
    padding-top: 10%;
}
#para{
    color: white;
   text-align: justify;
   margin-top: 40px;
   padding-left: 40px;
   
}#abt{
    position: sticky;
    top: 0;
}
.container {
    width: 50%;
    padding-left: -30px;
    background-color: orangered;
    border-radius: 30px;
    border: solid 2px white;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    border-radius: 30px;
    margin-left: -12px;
    height: 40px;
}

.html {
    
    width: 92%;
    background-color: #ffffff;
}

.css {
    width: 90%;
    background-color: white;
}

.bs {
    width: 95%;
    background-color: white;
}
.tw{
    width: 85%;
    background-color: white;
}
.figma{
    width: 95%;
    background-color: white;
}
.js{
    width: 85%;
    background-color: white;
}
.py{
    width: 85%;
    background-color: white;
}


#skillhead{
    color: white;
    margin-left: 29%;
    margin-top: 15px;
    margin-bottom: -1px;
}
#skillpara{
     margin-top: 40px;  
}
#projects{
    background-color:rgb(22, 22, 22);
    width: 100vw;
    padding-bottom: 4%;
}
#protxt h1{
    color: white;
    text-align: center;
   padding-top: 50px;
}

#protxt p{
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
}
#icons{
    color: white;
    width: 20px;
    height: 20px;
}
#contact{
    background-color:rgb(22, 22, 22);
    width: 100vw;
    padding-bottom: 4%;
}
.contactslist h1{
 color: white;
 text-align: center;
 padding-top: 40px;
}
.sub{
width: 90%;
 background-color: orangered; 
border-radius: 15px;
height: 40px;
}
.sub:hover{

 background-color: white ;

}
#follow{
    color: #ffffff;
    text-align: center;

}
#social{
    color: #ffffff;
    size: 150px;
    justify-content: center;
    
}
#proimgs:hover{
    scale: 1.1;
}